APP_ENV=local
APP_DEBUG=true
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ministrysprout
DB_USERNAME=ministrysprout_runtime
DB_PASSWORD=
DB_RUNTIME_USERNAME=ministrysprout_runtime
DB_MIGRATION_DATABASE=ministrysprout
DB_MIGRATION_USERNAME=ministrysprout
DB_MIGRATION_PASSWORD=
DB_TEST_DATABASE=ministrysprout_test
POSTGRES_PASSWORD=
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
